<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
            <route id="survey" frontName="survey">
            <!--frontName property in the route tag define the URL where this module is found-->
                    <module name="Survey_SurveyPage" />
            </route>
    </router>
</config>
